[defaults]
roles_path            = galaxy/roles:roles
sudo_flags            = -H -E
timeout               = 10
deprecation_warnings  = False
host_key_checking     = False
system_warnings       = False
command_warnings      = False
localhost_warning     = False
retry_files_enabled   = False
bin_ansible_callbacks = True
callback_whitelist    = profile_tasks, timer, log_plays
vault_password_file  = ~/.ansible-vpass
# ansible_managed      = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}

[ssh_connection]
pipelining            = True
ssh_args              = -C -o ControlMaster=auto -o ControlPersist=60s
control_path          = %(directory)s/mux-%%C
